# Ignore node_modules directory
node_modules/

# Ignore npm-debug.log file
npm-debug.log

# Ignore yarn.lock file
yarn.lock

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore build artifacts and logs
/build/
/dist/
/logs/

/uploads/

# Ignore any other files or directories specific to your project
.qodo

/firebase-config.json/
/config/firebase-config.json
/config/serviceAccountKey.json

